{% extends 'main.html' %}


{% block content %}
<div class="credid">
    <div class="logd ">
      
            <h3>this is login page</h3>

            <form action="" method="POST" >

                {% csrf_token %}

                <label for="">Username</label><br>
                <input type="text" name="username" > <br>

                <label for="">Password</label><br>
                <input type="password" name="password" >  <br>

                <input type="submit" name="" id="">
                <a href="#">password change</a>

            </form>
    </div>
</div>
{% endblock content %}